*.pyc
*.so
*.egg-info
.DS_Store
docs/*.log
docs/*.aux
docs/*.pdf
src/*.log
src/build/*
src/hvector/build/*
src/feature/english_1st_fgen.c
src/feature/english_2nd_fgen.c
src/feature/feature_generator_base.c
src/feature/feature_vector.c
src/parse/ceisner.cpp
src/parse/ceisner3.cpp
src/*.db
*.swp
