[core]
learner = average_perceptron
parser = ceisner
feature_generator = english_1st_fgen

[data]
format = format/conllu.format
train  = swedish_talbanken05_train.conll
test   = swedish_talbanken05_test.conll
data_path = %(NATLANG_DATA)s/glm-parser-data/CoNLL-X/Swedish
prep_path = data/prep/

[option]
h_flag = False
parallel_train = False
shards = 1
iteration = 5
l_filename =
d_filename =
timer = True
dump_frequency = 1
log-feature-request = False
interactive = False
