[core]
learner = average_perceptron
parser = ceisner
feature_generator = english_1st_fgen

[data]
format = format/conllu.format
train  = turkish_metu_sabanci_train.conll
test   = turkish_metu_sabanci_test.conll
data_path = %(NATLANG_DATA)s/glm-parser-data/CoNLL-X/Turkish/data/
prep_path = data/prep/

[option]
h_flag = False
parallel_train = False
shards = 1
iteration = 5
l_filename =
d_filename =
timer = True
dump_frequency = 1
log-feature-request = False
interactive = False
