[core]
learner = average_perceptron
parser = ceisner
feature_generator = english_1st_fgen

[data]
format = conllx
train  = japanese_verbmobil_train.conll
test   = japanese_verbmobil_test.conll
data_path = %(NATLANG_DATA)s/glm-parser-data/CoNLL-X/Japanese/data/
prep_path = data/prep/
tag_file = tagset.txt

[option]
spark_shards = 4
iterations = 5
load_weight_from =
dump_weight_to =
dump_frequency = 1
tagger_w_vector =
