[core]
learner = average_perceptron
parser = ceisner
feature_generator = english_1st_fgen

[data]
format = format/conllu.format
train  = dutch_alpino_train.conll
test   = dutch_alpino_test.conll
data_path = %(NATLANG_DATA)s/glm-parser-data/CoNLL-X/Dutch/data/
prep_path = data/prep/
tag_file = tagset.txt

[option]
use_hadoop = False
parallel = False
shards = 1
iterations = 5
load_weight_from =
dump_weight_to =
timing = True
dump_frequency = 1
