[core]
learner = average_perceptron
parser = ceisner
feature_generator = english_1st_fgen

[data]
format = format/conllu.format
train  = slovene_sdt_train.conll
test   = slovene_sdt_test.conll
data_path = ~/data/glm-parser-data/CoNLL-X/Slovene/data/
prep_path = data/prep/

[option]
h_flag = False
parallel_train = False
shards = 1
iteration = 5
l_filename =
d_filename =
timer = True
dump_frequency = 1
log-feature-request = False
interactive = False
