[core]
learner = average_perceptron
parser = ceisner
feature_generator = english_1st_fgen

[data]
format = format/penn2malt.format
train  = wsj_00[0-9][0-9].mrg.3.pa.gs.tab
test   = wsj_24[0-9][0-9].mrg.3.pa.gs.tab
data_path = %(NATLANG_DATA)s/glm-parser-data/penn-wsj-deps/
prep_path = data/prep/
tag_file = tagset.txt

[option]
spark_shards = 1
iterations = 1
load_weight_from =
dump_weight_to =
dump_frequency = 1
tagger_w_vector = 
