[core]
learner = average_perceptron
parser = ceisner
feature_generator = english_1st_fgen

[data]
format = format/penn2malt.format
train  = wsj_000[0-9].mrg.3.pa.gs.tab
test   = wsj_240[0-9].mrg.3.pa.gs.tab
data_path = /home/kingston/data/penn-wsj-deps/
prep_path = data/prep/
tag_file = tagset.txt

[option]
spark_shards = 1
iterations = 1
tagger_w_vector =
load_weight_from =
dump_weight_to =
dump_frequency = 1
