[core]
learner = average_perceptron
tagger =
feature_generator = ner_fgen

[data]
format = format/conll2003.format
train  = eng.testa
test   = eng.testb
data_path = %(NATLANG_DATA)s/glm-parser-data/CoNLL-2003/
prep_path = data/prep/
tag_file = ner_tagset.txt

[option]
spark_shards = 1
iterations = 1
load_weight_from =
dump_weight_to =
dump_frequency = 1
