[core]
learner = average_perceptron
tagger =
feature_generator = ner_fgen

[data]
format = conll2003
train  = eng.train
test   = eng.testa
data_path = %(NATLANG_DATA)s/glm-parser-data/CoNLL-2003/
prep_path = data/prep/
tag_file = ner_tagset.txt

[option]
spark_shards = 1
iterations = 10
load_weight_from =
dump_weight_to =
dump_frequency = 1
