[core]
learner = average_perceptron
parser = ceisner
feature_generator = english_1st_fgen

[data]
format = format/penn2malt.format
train  = wsj_0[2-9][0-9][0-9].mrg.3.pa.gs.tab|wsj_1[0-9][0-9][0-9].mrg.3.pa.gs.tab|wsj_2[0-1][0-9][0-9].mrg.3.pa.gs.tab
test   = wsj_0[0-1][0-9][0-9].mrg.3.pa.gs.tab|wsj_22[0-9][0-9].mrg.3.pa.gs.tab|wsj_24[0-9][0-9].mrg.3.pa.gs.tab
data_path = %(NATLANG_DATA)s/glm-parser-data/penn-wsj-deps/
prep_path = data/prep/
tag_file = tagset.txt

[option]
h_flag = False
parallel_train = False
shards = 1
iteration = 5
l_filename =
d_filename =
timer = True
dump_frequency = 1
log-feature-request = False
interactive = False
