[core]
learner = average_perceptron
parser = ceisner
feature_generator = english_1st_fgen

[data]
format = format/conllu.format
train  = cs-ud-train-[clmv].conllu
test   = cs-ud-dev.conllu
data_path = /cs/natlang-data/CoNLL/universal-dependencies-1.2/
prep_path = data/prep/
tag_file = tagset.txt

[option]
use_hadoop = False
parallel = False
shards = 1
iterations = 5
timing = True
dump_frequency = 1
