[core]
learner = average_perceptron
parser = ceisner
feature_generator = english_1st_fgen

[data]
format = format/conllu.format
train  = fi_ftb-ud-train.conllu
test   = fi_ftb-ud-dev.conllu
data_path = ~/data/glm-parser-data/universal-dependencies-1.2/
prep_path = data/prep/

[option]
h_flag = False
parallel_train = False
shards = 1
iteration = 5
l_filename =
d_filename =
timer = True
dump_frequency = 1
log-feature-request = False
interactive = False
