[core]
learner = average_perceptron
parser = ceisner
feature_generator = english_1st_fgen

[data]
format = format/conllu.format
train  = fi-ud-train.conllu
test   = fi-ud-dev.conllu
data_path = %(NATLANG_DATA)s/glm-parser-data/universal-dependencies-1.2/
prep_path = data/prep/
tag_file = tagset.txt

[option]
use_hadoop = False
parallel = False
shards = 1
iterations = 5
load_weight_from =
dump_weight_to =
timing = True
dump_frequency = 1
