[core]
learner = average_perceptron
parser = ceisner
feature_generator = english_1st_fgen

[data]
format = format/conllu.format
train  = pt-ud-train.conllu
test   = pt-ud-dev.conllu
data_path = %(NATLANG_DATA)s/glm-parser-data/universal-dependencies-1.2/
prep_path = data/prep/
tag_file = tagset.txt

[option]
spark_shards = 4
iterations = 5
load_weight_from =
dump_weight_to =
dump_frequency = 1
tagger_w_vector =
